@import url("https://fonts.cdnfonts.com/css/avenir");
/* navigasi */
* {
  font-family: Avenir;
}
.navbar {
  background: #fff;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 3.75rem;
  flex-shrink: 0;
}
/* register */
.container {
  height: 30.625rem;
  font-size: 2.25rem;
}

.scroll {
  height: 30.625rem;
  overflow-y: scroll;
}
/* register dan login */
.h1 {
  margin: 3.19rem auto;
  background: -webkit-linear-gradient(#ec7ab7 0%, #ec7a7a 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formGroup {
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Input {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #b1b1b1;
  color: #b1b1b1;
  font-size: 1.3rem;
  margin: 2.06rem auto;
  flex-shrink: 0;
  width: 80%;
}

.btn {
  margin: 4.12 rem auto;
  border-radius: 50px;
  background: linear-gradient(180deg, #ec7ab7 0%, #ec7a7a 100%);
  width: 50%;
  flex-shrink: 0;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  border: none;
}

.p {
  border-radius: 10px;
  background: #fff;
  color: #b1b1b1;
  font-size: 1.125rem;
  margin-top: 20px;
}
/* button login */
.btnLogin {
  background: linear-gradient(180deg, #ec7ab7 0%, #ec7a7a 100%);
  border-radius: 5px;
  width: 7rem;
  height: 2.5625rem;
  flex-shrink: 0;
  border: none;
}
/* button register */
.btnRegister {
  background: white;
  color: #ec7ab7;
  border-radius: 5px;
  width: 7rem;
  height: 2.5625rem;
  flex-shrink: 0;
  border: 1px solid #ec7ab7;
}

.btnRegister:hover {
  background: linear-gradient(180deg, #ec7ab7 0%, #ec7a7a 100%);
  border: none;
}
/* textarea register */
.textarea {
  resize: none;
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #b1b1b1;
  color: #b1b1b1;
  font-size: 1.3rem;
  margin: 2.06rem auto;
  flex-shrink: 0;
  width: 80%;
}

/* pages home jumbotron*/
.homeJumbotron {
  width: 100%;
  height: 18.75rem;
  flex-shrink: 0;
  background: linear-gradient(90deg, #ec7ab7 0%, #ec7a7a 100%);
}

.homeText {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 900;
  margin-top: 3.37rem;
}

.homeTextKedua {
  color: #fff;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.homeImage1 {
  width: 32.875rem;
  height: 13.1875rem;
  flex-shrink: 0;
  margin-top: 1.44rem;
  z-index: 1;
  position: absolute;
}

.homeImage2 {
  width: 32.875rem;
  height: 13.1875rem;
  margin-top: 1.44rem;
  flex-shrink: 0;
  z-index: 0;
  position: relative;
  top: 1.17rem;
  left: 1.62rem;
  right: 1.63rem;
  bottom: 0.75rem;
}

/* pages home tiket */
.homeTiketContainer {
  margin: auto;
  width: 76.25rem;
  height: 14.75rem;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -2rem;
  z-index: 1;
}

.tiketKolom {
  width: 17.75rem;
  height: 14.75rem;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f2f2f2;
  z-index: 1;
}

.tiketTag {
  width: 17.75rem;
  height: 3.3125rem;
  flex-shrink: 0;
  background: #fff;
  margin-top: -3.3rem;
  padding-left: 1rem;
}

.tiketKotakOren {
  width: 0.5625rem;
  height: 3.3125rem;
  flex-shrink: 0;
  background: #e67e22;
  position: relative;
  left: -0.7rem;
  z-index: 1;
}

.iconTrain {
  width: 1.875rem;
  height: 1.875rem;
  flex-shrink: 0;
  position: relative;
  top: 0.8rem;
  left: -1rem;
}

.tiketPtext {
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
  position: relative;
  left: 1.5rem;
  top: -1rem;
}

.tiketPtext2 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.tiketPtext3 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

.tiketInput {
  width: 23rem;
  height: 1.875rem;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #b1b1b1;
  margin-top: -1rem;
  padding-top: 0.19rem;
  padding-left: 0.63rem;
  padding-bottom: 0.13rem;
}

.imgRounded {
  width: 3.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  position: relative;
  top: 2rem;
  left: 4rem;
}

.tiketCheckbox {
  position: relative;
  left: -1.3rem;
  top: -2.5rem;
  left: 14rem;
}

.tiketPtext4 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 800;
  margin-top: 0.5rem;
  position: relative;
  top: -4.6rem;
  left: 15.2rem;
}

.tiketPtext5 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 800;
  margin-top: 0.5rem;
  position: relative;
  left: 3.94rem;
}

.tiketGrup2 {
  margin-bottom: 1rem;
  display: flex;
}

.tiketDate {
  width: 8.625rem;
  height: 1.875rem;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #b1b1b1;
  padding: 0.19rem 0.94rem 0.12rem 0.63rem;
  position: relative;
  top: -5rem;
  color: #b1b1b1;
  font-size: 1.125rem;
}

.tiketSelect {
  width: 7.25rem;
  height: 1.875rem;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #b1b1b1;
  position: relative;
  top: -1.4rem;
  margin-right: 1rem;
  color: #b1b1b1;
  font-size: 1.125rem;
}

.tiketSelectP {
  display: flex;
}

.btnCari {
  background: linear-gradient(180deg, #ec7ab7 0%, #ec7a7a 100%);
  border-radius: 5px;
  width: 120px;
  height: 1.875rem;
  flex-shrink: 0;
  border: none;
  padding: 0.19rem 1.56rem 1.5rem;
  margin-top: -2.52rem;
  color: #fff;
  text-align: center;
  font-weight: 900;
}

/* Rute */
.ruteContainer {
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  width: 79.6875rem;
  height: 6.25rem;
  flex-shrink: 0;
  margin-bottom: 2rem;
}

.ruteText {
  color: #000;
  font-size: 1.125rem;
  font-weight: 900;
  margin: 1rem;
}

.ruteText2 {
  color: #b7b7b7;
  font-size: 0.875rem;
  margin-top: -1rem;
  margin-left: 1rem;
}
.ruteTextGeser {
  color: #000;
  font-size: 1.125rem;
  font-weight: 900;
  margin: 1rem;
  margin-left: -11rem;
}

.ruteText2Geser {
  color: #b7b7b7;
  font-size: 0.875rem;
  margin-top: -1rem;
  margin-left: -11.3rem;
}

.ruteImage {
  margin-left: -4rem;
  margin-top: 2rem;
}

.ruteTextGeserPink {
  color: #ec7a7a;
  font-size: 1.125rem;
  font-weight: 900;
  margin: 1rem;
  margin-left: -11rem;
}
