@import url("https://fonts.cdnfonts.com/css/avenir");
* {
  font-family: Avenir;
}

.shape {
  border-radius: 0.3125rem 0.3125rem 80px 0.3125rem;
  border: 1px solid #b7b7b7;
  width: 11.625rem;
  height: 2.8rem;
  flex-shrink: 0;
  background: linear-gradient(90deg, #ec7ab7 0%, #ec7a7a 100%);
  padding-left: 2rem;
  margin-left: -0.7rem;
}
